<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:style="'margin-left: auto; margin-right: auto;'">
        <h2 th:text="'The weather in ' + ${weather.city} + ' for ' +  ${#temporals.format(weather.when, 'dd-MMM-yyyy')}"></h2>
        <h1 th:text="${weather.description} + ' ' +${weather.temperature} + '°C'"></h1>
    </div>
</body>
</html>