<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div class="jumbotron">
        <div class="container">
            <span th:class="'h1'" th:text="'The weather in ' + ${weather.city}"></span>
            <p></p>
            <span th:class="'h4'" th:text="${#temporals.format(weather.when, 'dd MMMM yyyy')}"></span>
            <p></p>
            <span th:class="'h1'" th:text="${weather.description} + ' ' +${weather.temperature} + '°C'"></span>
            <span th:if="${!#strings.isEmpty(weather.icon)}" th:utext="${weather.icon}"></span>
        </div>

        <hr class="col-xs-12"/>
        <div class="container">
            <span th:class="'h2'" th:text="'Moon phase: ' + ${lunarPhase.phase}"></span>
            <span th:if="${!#strings.isEmpty(lunarPhase.icon)}" th:utext="${lunarPhase.icon}"></span>
            <p></p>
            <span th:class="'h3'" th:text="'Sunrise at ' + ${#temporals.format(lunarPhase.sunrise, 'HH:mm')}"></span>
            <p></p>
            <span th:class="'h3'" th:text="'Sunset at ' + ${#temporals.format(lunarPhase.sunset, 'HH:mm')}"></span>
        </div>
    </div>
</body>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    .jumbotron {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    svg {
        fill: #474747;
    }
</style>
</html>